.h2Style{
    margin: 1px;
    cursor: crosshair;
    background: #3f744a;
    border: 10px solid blue;
    padding: 0.5rem;
    width: 300px;

}

.h3Style{
    width: 300px;
    margin: 1px;
    cursor: crosshair;
    background: #74703f;
    border: 10px blue;
    padding: 0.5rem;
    display: inline;
}

.someCoolDiv {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 100px;
}

.shadow {
    box-shadow: 5px 5px 10px 5px black;
    background: #CCCCCC;
    width: 10rem;
    height: 5rem;
}

@media screen and (max-width: 400px) {
    h1 {
        color: #ffe100;
    }
}
