.userStatusLabelNotLogged {
    color: #5a4b48;
    font-family: Arial;
    text-align: center;
    cursor: default;
}

.userStatusLabelLogged {
    color: #54e62d;
    font-family: Arial;
    text-align: center;
    cursor: default;
}

.menuStyle {
    cursor : default;
}

@media screen and (max-width: 400px) {
    .menuStylePhone {
        display: flex;
        flex-direction: column;
        width: 256px;

    }
}

.loginRegister {
    display: inline-flex;
}