.bikeModelOption{
    font-size: x-large;
}

.bikeModelSelect{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: x-large;
    margin-top: 7px;
    height: 130px;
  
}

.testDiv {   
    flex-direction: column;;
}

.columnWithRows{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.bikeModelSelectMobile{
    width: 100%;
    font-size: x-large;
    margin-top: 7px;
    height: 100px;
}

.blackBorder {
    border: 1px solid black;
}

.button{
    width: 150px;
    justify-content: center;
    display: flex;
    margin: 1px;
}

.selectorPc{
    width: 100%;
    font-weight: bold;
}

.selectorMobile{
    width: 100%;
}

.buttonsMobile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.buttonMobile {
    width: 100%;
}
.test{
    width: 2010px;
}
