.container {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    margin-top: 0.5rem;
    font-size: large;
    font-weight: bold;
    background-color: #ced8e7;
}

.blackBorder {
    border: 1px solid black;
}

.dropDownFont{
    color: black;
    padding: 1px;
    border: 1px solid black;
    margin-right: 15px;
}

.yearFont{
    font-size: larger;
}

.yearSection{
    padding: 1px;
    margin-top: 0.1rem;
    margin-right: 5px;
}

.mobileBikeContainer {
    flex-direction: column;
}

.mobileInnerYears{
    display: flex;
    flex-direction: row;
}

.mobileYearInput{
    margin-top: 2.2rem;
    margin-right: 2.5rem;
}
.mobileYearSection{
    margin-top: 1rem;
}